extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 Import
  p POST - /:platform/:leagueId/leagueteams
  p POST - /:platform/:leagueId/standings
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/schedules
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/teamstats
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/defense
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/kicking
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/passing
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/punting
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/rushing
  p POST - /:platform/:leagueId/week/:weekType/:weekNumber/receiving
  p POST - /:platform/:leagueId/freeagents/roster
  p POST - /:platform/:leagueId/team/:teamId/roster


  h2 Players
  table.resourceTable
    tr
      td 
        b Method
      td 
        b Resource
      td 
        b Description
      td
        b Params
    tr
      td GET
      td /players
      td List details for all teams
      td
        ul
          li teamId
          li position
    tr 
      td GET
      td /players/:id
      td Fetch player details
      td

  h2 Teams
  table.resourceTable
    tr
      td 
        b Method
      td 
        b Resource
      td 
        b Description
    tr
      td GET
      td /teams
      td List details for all teams
    tr 
      td GET
      td /teams/:id
      td Fetch team details
    tr
      td GET
      td /teams/:id/players
      td List all players for a team